@import "tailwindcss";

@theme {
  --font-sans: 'Outfit', sans-serif;
  --color-brand-50: #eef2ff;
  --color-brand-100: #e0e7ff;
  --color-brand-600: #4f46e5;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}